/*------------------------------------*\
  upload
\*------------------------------------*/
.upload-images-widget-multiple .progress {
  margin: 10px 0; }

.upload-images-widget-single .fileinput-button {
  width: 100px;
  height: 100px; }

.upload-images-widget-single .fileinput-button span {
  white-space: normal;
  display: block; }

.upload-wrapper {
  float: left;
  margin: 0 10px 0 0;
  position: relative; }
  .upload-wrapper p span {
    font-size: 8px;
    width: 100px;
    display: inline-block; }
  .upload-wrapper p button {
    margin-top: 10px; }
  .upload-wrapper .delete-upload, .upload-wrapper .edit-upload {
    position: absolute;
    right: 2px;
    background: rgba(255, 255, 255, 0.5);
    padding: 3px;
    border-radius: 1px; }
    .upload-wrapper .delete-upload:hover, .upload-wrapper .edit-upload:hover {
      background: rgba(255, 255, 255, 0.9); }
  .upload-wrapper .delete-upload {
    top: 24px; }
  .upload-wrapper .edit-upload {
    top: 2px; }

.files:before, .files:after {
  content: " ";
  display: table; }
.files:after {
  clear: both; }

.edit-upload-dialog {
  position: absolute;
  width: 800px;
  height: 500px;
  left: 50%;
  margin-left: -400px;
  top: 10%;
  z-index: 1000000;
  background: white;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 1px 0px 1px 1px rgba(153, 153, 153, 0.5);
  box-shadow: 1px 0px 1px 1px rgba(153, 153, 153, 0.5); }
  .edit-upload-dialog .edit-upload-preview-wrapper {
    height: 466px;
    position: relative;
    background: white; }
    .edit-upload-dialog .edit-upload-preview-wrapper img {
      max-height: 466px; }
  .edit-upload-dialog .edit-upload-actions:before, .edit-upload-dialog .edit-upload-actions:after {
    content: " ";
    display: table; }
  .edit-upload-dialog .edit-upload-actions:after {
    clear: both; }
  .edit-upload-dialog .edit-upload-actions .edit-upload-control-wrapper {
    float: left;
    width: 25%; }
    .edit-upload-dialog .edit-upload-actions .edit-upload-control-wrapper input[type=text] {
      width: 100%;
      height: 34px;
      padding: 0 2px;
      outline: none;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      border: 1px solid rgba(153, 153, 153, 0.5); }
    .edit-upload-dialog .edit-upload-actions .edit-upload-control-wrapper button {
      width: 100%;
      border-radius: 0; }

body.edit-upload-overlay:after {
  content: "";
  display: block;
  position: fixed;
  /* could also be absolute */
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 100000;
  background-color: rgba(0, 0, 0, 0.2); }
